* {
    text-align: center;
}

#navbar {
    margin: 0;
}

.header-title {
    font-weight: bolder;
    color: darkblue;
}

.main-content {
    margin: 0 20px;
}

#city-header {
    text-align: center;
}

.form-inline {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
}

#indeces {
    padding-top: 10px;
}

#windspeed,
#humidity,
#uv-card {
    height: 200px;
    width: 300px;
    padding: 20px;
}